/vendor/
.env
.env.production
/storage/logs/*.log
/storage/uploads/*
!/storage/logs/.gitkeep
!/storage/uploads/.gitkeep
!/storage/uploads/.htaccess
!/storage/uploads/soportes/
!/storage/uploads/soportes/.gitkeep
!/storage/uploads/migraciones/
!/storage/uploads/migraciones/.gitkeep
